@media(max-width:992px)
{

    .container
    {
        width: 90%;
    }

    #nav .container img
    {
       display: inline-block;
       margin-left: 5px;
    }

    .container ul
    {
        display: none;
    }

    #nav .container .bar
    {
        display: inline-block;
        margin-right: 20px;
    }

    #nav .signup
    {
        display: none;
    }

    #banner .contains
    {
        width: 100%;
    }

    #banner .contains h4 
    {
        width: 100%;
        font-size: 50px;
    }
    
    #banner
    {
        padding: 30px 0;
    }

    #banner .img
    {
        margin-top: 30px;
        width: 100%;
        
    }

    #banner .img img 
    {
        width: 100%;
        text-align: center;
    }

    #banner .slides
    {
        margin-top: 40px;
        padding-bottom: 5px;
    }

    #client .row
    {
        text-align: right;
    }

    #client
    {
        margin: 20px 0;
    }

    #client .row img
    {
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 5px ;
    }

    #client .text-section h4
    {
        font-size: 30px;
    }

   

    #client .text-section p
    {
        margin-bottom: 5px;
    }

    #community .community-text h4
    {
        font-size: 30px;
        width: 100%;
    }

    #community .row .cards
    {
        width: 100%;
    }
   
    #community .row .cards
    {
        padding: 20px 25px;
        margin-bottom: 10px;
    }

}